/* highlight */
.highlight {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  margin-top: -17em;
  margin-left: -6em;
  width: 20em;
  height: 20em;
  background: radial-gradient(
    circle farthest-corner at 50%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.5) 33%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  will-change: transform;
  transition: opacity 0.21s ease-in-out;
}

/* card */
.card-wrapper {
  position: relative;
  border-radius: 1.5em;
  transition: transform 0.1s;
  perspective: 1500px;
}

.card-wrapper:hover {
  transform: scale(1.8);
  z-index: 2;
}

.card-wrapper:hover .card {
  box-shadow: 10px 20px 32px 1px rgba(0, 0, 0, 0.75);
  transition: none;
}

.card-wrapper:hover .highlight {
  opacity: 0.5;
}

.card-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card {
  display: flex;
  position: relative;
  width: 25em;
  border-radius: 1.5em;
  padding: 1em;
  line-height: 1.5em;
  color: #303030;
  font-size: 0.5em;

  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.5s, filter 0.35s;
  overflow: hidden;
}

.card-body {
  border-radius: 1.5em;
  overflow: hidden;
  flex-grow: 1;
}

/* header */
.card-header {
  display: flex;
  align-items: center;
  padding: 1.5em;
  background: white;
}

.poke-name {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: #303030;
}

.poke-hp {
  margin-left: auto;
  font-size: 0.8em;
}

.poke-hp span {
  font-size: 1.5em;
}

/* main-info */
.card-main-info {
  height: 60%;
  text-align: center;
  font-size: 0.8em;
  padding: 2em;
}

.poke-image {
  width: 15em;
}

.types {
  margin-left: 0.5em;
  display: flex;
  gap: 0.5em;
}

.poke-name,
.poke-types {
  text-transform: capitalize;
}
