.type-icon {
  padding: 1em;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

.type-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
}
